<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>研究室書籍管理システム</h1>
      <%= link_to '書籍検索' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'books/list' , books: @books %>